
@media (max-width: 850px){
    .left {
        display: none;
    }

    #container {
        width: 70% !important;
    }

    .right {
        padding-left: 0;
    }
}

@media (max-width: 560px){
    #container {
        width: 98% !important;
        padding: 0 20px;
    }

    .column {
        width: 90% !important;
        margin-left: 14px;
    }

    input[type="text"], input [type="password"], input [type="submit"] {
        width: 80%;
        margin-bottom: 10px;
    }
}